:root {
	--gap: 10px;
}
.grid {
	display: grid;
}

.gap {
	gap: var(--gap);
}

h1 {
	text-align: center;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 4em;
}

ul {
	font-size: 1.5em;
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	background-color: #E0FFFF;
}
.grid.grid-col-2 {
	grid-template-columns: repeat(2, 1fr);
}
.grid.grid-col-3 {
	grid-template-columns: repeat(3, 1fr);
}

.bgc-blue {
	background-color: #1E90FF;
}

.grid.grid-auto-rows {
	grid-auto-rows: 100px;
}

.grid.grid-col-5 {
	grid-template-columns: repeat(5, 1fr);
}